.mobile-disclaimer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--text-color);
}


.mobile-disclaimer {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 50px;
}


.mobile-disclaimer-title {
    font-size: 28px;  /* ~28px */
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}


.mobile-disclaimer-wrapper p {
    color: var(--text-color);
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
}