/*
  COLOR THEMES
*/
[data-theme="light"] {
  /* Theme colors */
  --text-color: #000000;
  --bg-color1: #fff;
  --bg-color2: #f2f2f2;
  --bg-color3: #f9f9f9;
  --bg-hover: #dcdcdc;
  --footer-icon-hover: #dcdcdc;
  --header-color: #333333;
  --header-text-color: #fff;
  --header-btn-hover:#5c5c5c; 
  --border-color: #b8b8b8;

  /* Context menu */
  --context-menu-bg-color: #333;
  --context-menu-h3-color: #555;
  --context-menu-border-color: #ccc;
  --context-menu-text-color: #fff;
  --context-menu-li-hover: #555;

  /* SVG invert filter value */
  --svg-filter: 0%;

  /* Cell hover effects */
  --sequence-grid-cell-hover: #e0e0e0;
  --sequence-grid-cell-selected: rgba(0, 150, 255, 0.2);
  --sequence-grid-cell-selected-search: yellow;

  /* Sequence grid cursors */
  --hover-cursor: red;
  --selection-cursors: purple;

  /* Subcloning */
  --subcloning-background: rgba(128, 0, 128, 0.2);
  --subcloning-border: #ae70ae; 
}

[data-theme="dark"] {
  /* Theme colors */
  --text-color: #ffffff;
  --bg-color1: #101217;
  --bg-color2: #1c2028;
  --bg-color3: #1a1a20;
  --bg-hover: #2f394d;
  --footer-icon-hover: #d0c6b2;
  --header-color: #171a24;
  --header-text-color: #ffffff;
  --header-btn-hover:#374164;
  --border-color: #34373c;

  /* Context menu */
  --context-menu-bg-color: #1a1a20;
  --context-menu-h3-color: #343b55;
  --context-menu-border-color: #b5bfcc;
  --context-menu-text-color: #fff;
  --context-menu-li-hover: #2f394d;

  /* SVG invert filter value */
  --svg-filter: 100%;

  /* Cell hover effects */
  --sequence-grid-cell-hover: #393939;
  --sequence-grid-cell-selected: rgba(62, 175, 255, 0.2);
  --sequence-grid-cell-selected-search: #932b21;

  /* Sequence grid cursors */
  --hover-cursor: #fb5555;
  --selection-cursors: #ce59ce;

  /* Subcloning */
  --subcloning-background: rgba(255, 70, 255, 0.2);
  --subcloning-border: #a652a6;
}

/*
  Root
*/
:root {
  --triangle-height: 16px;
  --triangle-width: 8px;
}

/*
  BODY
*/
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  display:flex;
  align-items: stretch;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  background-color: var(--bg-color1);
  color: var(--text-color);
  transition: background-color 400ms ease-in-out;
}

/* 
  CONTEXT MENU
*/
.custom-context-menu {
  font-family: Arial, sans-serif;
  position: absolute;
  display: none;
  background-color: var(--context-menu-bg-color);
  color: var(--context-menu-text-color);
  border: 2px solid var(--context-menu-border-color);
  padding: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.custom-context-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-context-menu li {
  padding: 6px 12px;
  cursor: pointer;
}

.custom-context-menu li:hover {
  background-color: var(--context-menu-li-hover);
}

.custom-context-menu li.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.2;
}

.custom-context-menu .group {
  margin-top: 10px;
}

.custom-context-menu h3 {
  margin: 0;
  padding: 5px;
  background-color: var(--context-menu-h3-color);
  color: var(--context-menu-text-color);
  font-size: 14px;
}
  
  
/*
  HORIZONTAL LIST
*/
.horizontal-list {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
}

.horizontal-list li {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}

.horizontal-list li a {
  padding: 10px 20px;
  text-decoration: none;
  vertical-align: middle;
}

#header-list-right {
  margin-left: auto;
}
  
#header-list-right #tm-calc-btn a {
  color: white;
  border-radius: 5px;
  text-align: center;
  display: block;
}

#header-list-right #tm-calc-btn a:hover {
  background-color: var(--header-btn-hover);
}

#import-btn a {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  display: block;
  text-align: center;
}

#import-btn a:hover {
  background-color: #45a049;
}

#import-demo-btn a {
  background-color:  #FF9900;
  color: white;
  border-radius: 5px;
  display: block;
  text-align: center;
}

#import-demo-btn a:hover {
  background-color: #FF8000;
}

.info-window-btn {
  text-decoration: none;
  display: inline-block !important;
  padding: 5px 10px;
}

.info-window-menu-btn {
  color: white;
  padding: 6px 12px;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  background-color: var(--context-menu-bg-color);
}

.info-window-menu-btn:hover {
  background-color: var(--context-menu-li-hover);
}

.info-window-create-primers-btn{
  padding: 8px 16px;
}

#info-window img{
  margin-top: 5px;
}

#info-window li::marker{
  font-weight: bold;
}

/*
  SIDEBAR
*/
.sidebar {
  background-color: var(--bg-color2);
  overflow-y: scroll;
  border-right: var(--border-color);
  border-right-style: solid;
  display: block;
}

.sidebar-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.sidebar-table th,
.sidebar-table td {
    padding: 12px;
    border: 1px solid var(--border-color);
}

.sidebar-table th {
    background-color: var(--bg-color2);
    font-weight: bold;
    text-align: left;
}

.sidebar-table tr:nth-child(even) {
    background-color: var(--bg-color3);
}

.sidebar-table tr:hover {
  background-color: var(--bg-hover);
  cursor: pointer;
}

.sidebar-content {
    padding: 20px;
    overflow-y: auto;
}

.sidebar-content h2 {
  margin-top: 0px;
}

.sidebar-content h3 {
  margin-bottom: 5px;
}

.sidebar-content p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.sidebar-content p:not(:last-child) {
    margin-bottom: 10px;
}

.sidebar-content p:first-child {
    font-weight: bold;
    font-size: 18px;
}

.sidebar-content p:last-child {
    margin-bottom: 0;
}

/* Force text to wrap*/
.wrap-text {
  word-wrap: break-word;
  white-space: normal;
}

/*
  SEQUENCE GRID
*/
.sequence-grid {
  z-index: 1;
  table-layout: fixed;
  width: 100%;
  border-spacing: 0px;
  font-size: 18px;
}

.sequence-grid td {
  padding: 5px;
  text-align: center;
  font-family: monospace;
  white-space: pre;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

td.AminoAcids {
  color: var(--text-color);
  opacity: 0.5;
}

.Annotations {
  color:black;
}

.ForwardStrand:hover,
.ComplementaryStrand:hover {
  background-color: var(--sequence-grid-cell-hover);
}

.forward-strand-base {
  border-bottom: 3px solid var(--border-color) !important;
}

.sequence-grid td.selected-cell {
  background-color: var(--sequence-grid-cell-selected);
}

.sequence-grid td.selected-cell-search {
  background-color: var(--sequence-grid-cell-selected-search);
}

#sequence-row, #complementary-row, #empty-row {
  display: flex;
  flex-wrap: wrap;
}

#Spacer-row {
  height: 20px;
}

#sequence-row td, #complementary-row td, #empty-row td {
  width: 20px;
  height: 20px;
}

/*
  Sequence index hover popup
*/
.hover-popup {
  position: absolute;
  background-color: var(--bg-color1);
  padding: 5px;
  border: 2px solid var(--border-color);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: var(--text-color);
}

/*
  Popup window
*/
.popup-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color2);
  border: 2px solid var(--border-color);
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-window h2 {
  margin: 0 0 10px;
}

.popup-window label {
  display: block;
  margin-bottom: 5px;
}

.popup-window button {
  padding: 8px 16px;
  margin-right: 10px;
}

#create-primers-button {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

#create-primers-button:hover {
  background-color: #45a049;
}

.popup-window #cancel-button {
  background-color: #ccc;
  color: white;
  border-radius: 5px;
}

.popup-window #cancel-button:hover {
  background-color: #999;
}

.popup-window-input {
  width: 100%;
  width: -moz-available;          
  width: -webkit-fill-available;  
  width: fill-available;
  padding: 5px;
  margin-bottom: 10px;
  color: var(--text-color);
  background-color: var(--bg-color1);
}

/* Hint text in popup window */
.stop-codon-hint{
  margin-top: 0px;
  font-size: 14px;
}

/* Loading cursor class for body  */
.loading * {
  cursor: wait !important;
}

/* Custom search bar */
.search-bar {
  border: 1px black solid;
  border-radius: 5px;
  padding: 5px;
  color: var(--text-color);
  background-color: var(--bg-color1);
}

/*
  Containers
*/
.parent-container {
  flex:1;
  display: flex;
  align-items: stretch;
  overflow: auto;
  flex-direction: column;
}

.first-plasmid-container {
  display: flex;
  height: 100%;
  overflow: hidden;
  align-items: stretch;
}

.content {
  flex: 3;
  padding: 20px;
  position: relative;
  overflow-y: scroll;
  font-family: "Anonymous Pro", sans-serif;
}

.plasmid-content-container {
  display: flex;
  flex-direction: column;
  flex: 3;
  height: 100%;
  overflow: hidden;
  align-items: stretch;
}

/*
  Buttons with svg icons
*/
.svg-icon-btn-a {
  font-size: 28px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  height: 35px;
  width: 35px;
  padding: 0px 10px !important;

  background-size: 27px 27px;
  background-repeat: no-repeat;
  background-position: center center;
  fill: white;
}

.svg-icon-btn-a-disabled {
  opacity: 15%;
}

.svg-icon-btn-a-disabled:hover {
  cursor: auto;
  background-color: transparent !important;
}

.svg-icon-btn-a:hover {
  background-color: var(--header-btn-hover);
}

/*
  Hideable windows
*/
.hideable-window {
  position: fixed;
  background-color: var(--bg-color2);
  border: 2px solid var(--border-color);
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  max-width: 625px;
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.7s;
}

.hideable-window h1 {
  margin-bottom: 0px;
}

.hideable-window h4 {
  margin-bottom: 0px;
}

.hideable-window ol li {
  margin-bottom: 10px;
}

.equation-image {
  filter: invert(var(--svg-filter))
}

.settings-window-row {
  margin-bottom: 10px;
}

.settings-window-row label {
  display: inline-block;
  margin-right: 10px;
}

.settings-window-row input {
  display: inline-block;
  max-width: 50%;
}

.standard-btn-a {
  border-radius: 5px;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  margin-bottom: 10px;
}

.save-settings-btn{
  background-color: #4CAF50;
  color: white;
}

.save-settings-btn:hover{
  background-color: #45a049;
}

.reset-default-settings-btn{
  background-color: #aeaeae;
  color: white;
}

.reset-default-settings-btn:hover{
  background-color: #9d9d9d;
}

.settings-tab-button-highlighted{
  background-color: #4c93af !important;
}

.settings-tab-button-highlighted:hover{
  background-color: #3e7991 !important;
}

.settings-tab-button{
  background-color: #84a7b4;
  color: white;
}

.settings-tab-button:hover{
  background-color: #688591;
}

.horizontal-list-right{
  margin-left: auto;
}

/*
  PLASMID TABS
*/
.tabs{
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.tab{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  transition: all 0.7s;
}

.tabs-btns-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.triangle-cell {
  position: relative;
  padding: 0px !important;
}

.sidebar-table tr td {
  position: relative;
}

.sidebar-table tr td input {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.sequence-cursor-cell-left {
  border-left: 2px solid var(--hover-cursor);
}

.sequence-cursor-cell-right {
  border-right: 2px solid var(--hover-cursor);
}

.selection-cursor-cell-left {
  border-left: 3px solid var(--selection-cursors);
}

.selection-cursor-cell-right {
  border-right: 3px solid var(--selection-cursors);
}

.editable{
  pointer-events: none;
}

.editable::after{
  content: url('/static/pencil.svg');
  filter: invert(var(--svg-filter));
  position: absolute;
  cursor: pointer;
  pointer-events: all;
}

.sidebar-table .editable::after {
  top: -2px;
  right: 3px;
  width: 10px;
  height: 10px;
}

.sequence-grid .editable::after {
  width: 24px;
  height: 24px;
}

.horizontal-list .editable::after {
  width: 24px;
  height: 24px;
  filter: invert(100%);
}

.sidebar-content .editable::after {
  position: static !important;
  width: 24px;
  height: 24px;
}

header {
  background-color: var(--header-color);
  color: var(--header-text-color);
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
}

.nav-left, .nav-right {
  padding: 10px;
}

.nav-left{
  min-width: 306px;
}

.nav-right {
  min-width: 315px;
  margin-left: auto;
}

.nav-left ul, .nav-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-left ul li, .nav-right ul li {
  display: inline;
  margin-right: 10px;
}

.nav-left ul li a, .nav-right ul li a {
  color: #fff;
  text-decoration: none;
}

.nav-tabs {
  display:flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-start;
  overflow: hidden;
}

.plasmid-tabs-container {
  display: flex;
  overflow: hidden;
  overflow-x: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  flex-grow: 1;
}

.plasmid-tabs-list {
  display: flex;
  gap: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.plasmid-tabs-list > * {
  vertical-align:middle;
}

.plasmid-tab {
  border-radius: 8px;
  display: inline-block;
  position: relative;
}

.plasmid-tab:hover {
  background: var(--header-btn-hover);
}

.plasmid-tab, .plasmid-tab a {
  transition: all .25s;
}

.plasmid-tab a {
  text-decoration: none;
	color: white;
  display: inline-block;
}

.plasmid-tab a:first-child {
	padding: 12px 2px 12px 16px;
  white-space: nowrap;
}

.plasmid-tab-selected {
  font-weight: bold;
	background-color: #4caf4f81;
}

.plasmid-tab-selected:hover {
	background-color: #4CAF50;
}

.plasmid-tab-dropdown {
  width: 16px;
	height: 16px;
	margin: 0 14px 0 12px;
	padding: 3px;
	border-radius: 16px;
	line-height: 16px;
	text-align: center;
}

.plasmid-tab-dropdown:hover {
	background: #DAE0E7;
}

.plasmid-tab-dropdown-menu {
  position: fixed;
  background-color: var(--bg-color2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin: 0;
  max-width: 300px;
  border: 2px solid var(--border-color);
}

.plasmid-tab-dropdown-menu h3 {
  margin: 0;
  padding: 5px;
  background-color: var(--context-menu-h3-color);
  color: #fff;
  font-size: 16px;
}

.plasmid-tab-dropdown-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.plasmid-tab-dropdown-menu ul a {
  color: var(--text-color);
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}

.plasmid-tab-dropdown-menu ul a:hover {
  background-color: var(--bg-hover);
}

#scroll-left, #scroll-right {
  cursor: pointer;
  font-size: 24px;
  margin: 10px;
}

/*
  SUBCLONING
*/
.subcloning-target-cell {
  background-color: var(--subcloning-background);
  border-top: 4px dashed var(--subcloning-border);
  border-bottom: 4px dashed var(--subcloning-border) !important;
}

.subcloning-target-cell-first {
  background-color: var(--subcloning-background);
  border-top: 4px dashed var(--subcloning-border);
  border-left: 4px dashed var(--subcloning-border);
  border-bottom: 4px dashed var(--subcloning-border) !important;
}

.subcloning-target-cell-last {
  background-color: var(--subcloning-background);
  border-top: 4px dashed var(--subcloning-border);
  border-right: 4px dashed var(--subcloning-border);
  border-bottom: 4px dashed var(--subcloning-border) !important;
}

.subcloning-target-cell-info-window {
  background-color: var(--subcloning-background);
  border: 4px dashed var(--subcloning-border);
  padding: 3px;
  display: inline-block;
}

/*
  FOOTER
*/
.footer {
  height: 30px;
  background-color: var(--bg-color2);
  border-top: 3px var(--border-color) solid;

  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.footer-icon-btn-a {
  background-color: transparent;
  padding: 0px !important;
  filter: invert(var(--svg-filter));
}

.footer-icon-btn-a:hover {
  background-color: var(--footer-icon-hover);
}

.footer-checkbox {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}

.footer-checkbox-label {
  vertical-align: middle;
}

/*
  Copy primer sequence buttons
*/
.copy-primer-btn {
  font-size: 28px;
  font-weight: bold;
  background-color: transparent;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  height: 20px;
  width: 20px;
  padding: 5px !important;
  vertical-align:middle;

  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  fill: white;
  filter: invert(var(--svg-filter));
}

.copy-primer-btn:hover {
  background-color: var(--footer-icon-hover);
}