/* #region Themes */
[data-theme="light"] {
  --text-color: #000000;

  --bg-color1: #fff;
  --bg-color2: #f2f2f2;
  --bg-color3: #f9f9f9;

  --axis: #b8b8b8;

  --header-color: #333333;
  
  --bg-hover: #dcdcdc;
  --footer-icon-hover: #dcdcdc;
  --header-btn-hover:#5c5c5c; 
  --border-color: #b8b8b8;
  --link-default: unset;
  --link-visited: unset;
  
  --base-hover: #e0e0e0;
  --base-selected: rgba(0, 150, 255, 0.2);
  --base-search: #dcf29d;
  --base-search-highlight: #df63dd;;
  --base-sub: #ffa0ff8c;
  --base-sub-border: #ae70ae; 
  
  --selection-cursor: purple;
  
  --shadow-color: rgba(0, 0, 0, 0.1);
  --svg-filter: 0%;
}

[data-theme="dark"] {
  --text-color: #ffffff;

  --bg-color1: #101217;
  --bg-color2: #1c2028;
  --bg-color3: #1a1a20;

  --axis: #a4a7ac;

  --header-color: #171a24;

  --bg-hover: #2f394d;
  --footer-icon-hover: #d0c6b2;
  --header-btn-hover:#374164;
  --border-color: #34373c;
  --link-default: #9F9FFF;
  --link-visited: #B874F7;
  
  --base-hover: #1d1d1d;
  --base-selected: rgba(62, 175, 255, 0.2);
  --base-search: #932b21;
  --base-search-highlight: #932191;
  --base-sub: rgba(255, 70, 255, 0.2);
  --base-sub-border: #a652a6;

  --selection-cursor: #ce59ce;
  
  --shadow-color: rgba(255, 255, 255, 0.1);
  --svg-filter: 100%;
}
/* #endregion Themes */

/* 
 * MARK: Body
 */
html, body {
  --hr: #d9823a;
  --ins: #c83478;
  --tbr: #448f47;
  --subhr: #8ccaf2;
  --subtbr: #6b609d;

  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  font-family: Arial, sans-serif;
  font-size: 12px;
  color: var(--text-color);

  background-color: var(--bg-color1);

  overflow: hidden;
}

/* 
 * MARK: Layout
 */
.content-wrapper {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 350px auto 45px;
  grid-template-rows: 55px auto 35px;
  
  grid-template-areas:
        "header header header"
        "sidebar viewer toolbar"
        "sidebar footer footer";
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.viewer {
  grid-area: viewer;

  position: relative;
}

.toolbar {
  grid-area: toolbar;
}

.footer {
  grid-area: footer;
}


/* 
 * MARK: Buttons
 */
.round-button {
  display: block;

  cursor: pointer;

  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;

  color: white;
  background-color: #4CAF50;
  
  transition: all .25s;

  font-weight: bold;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.round-button:hover {
  background-color: #45a049;
}

.new-file-button {
  color: white;
  background-color: #2E6AAA;
}
.new-file-button:hover {
  background-color: #214d7c;
}

.demo-file-button {
  color: white;
  background-color: #FF9900;
}
.demo-file-button:hover {
  background-color: #FF8000;
}


/*
 * MARK: Inputs and checkboxes
 */
input {
  padding: 5px;
  color: var(--text-color);
  background-color: var(--bg-color1);
  border: none;
  border-radius: 5px;
}

input[type="checkbox"] {
  --checkbox-size: 17px;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  padding: 0;
  margin: 0;
}

/* #region Header */
.header {
  background-color: var(--header-color);

  display: flex;
  flex-direction: row;
  gap: 20px;

  padding: 0 10px;
}

/* Import buttons */
.header-import-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
/* #endregion Header */


/* #region Plasmid_tabs */
.plasmid-tabs-wrapper {
  flex-grow: 1;

  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
  
  width: 500px;
  position: relative;
}

.plasmid-tabs-scroll-button {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 5px 0px;

  color: white;
  background-color: transparent;
  font-size: 22px;
}

.plasmid-tabs-scroll-button:hover {
  background-color: var(--header-btn-hover);
}

.plasmid-tabs-scroll-button[disabled] {
  cursor: auto;
  opacity: 15%;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.plasmid-tabs-scroll-button[disabled]:hover {
  background-color: transparent;
}


.plasmid-tabs-container-wrapper {
  flex-grow: 1;

  margin-top: 10px;

  max-width: 100%;
  /* height: 100%; */
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;

  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.193) transparent;

  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}


.plasmid-tabs-container {
  display: flex;
  align-items: stretch;
  gap: 10px;

  height: 35px;
}


.plasmid-tab {
  border-radius: 5px;
  /* padding: 10px 10px 10px 30px; */
  text-align: center;
  background-color: transparent;
  
  display: flex;
  align-items: stretch;
  justify-content: center;

  white-space:nowrap;

  transition: all .25s;
}

.plasmid-tab:hover {
  background-color: var(--header-btn-hover);
}
.plasmid-tab-selected {
  font-weight: bold;
  background-color: #4caf4f81;
}
.plasmid-tab-selected:hover {
  background-color: #4CAF50;
}

.plasmid-tab-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;

  padding: 0 10px 0 20px;
}


.plasmid-tab-dropdown-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;

  padding: 0 10px 0 10px;
	border-radius: 0 5px 5px 0px;
}
.plasmid-tab-dropdown-button:hover {
	background: #DAE0E7;
}

.plasmid-tab-dropdown-menu {
  position: fixed;
  background-color: var(--bg-color2);
  box-shadow: 0 4px 8px var(--shadow-color);
  padding: 5px;
  margin: 0;
  max-width: 300px;
  border: 2px solid var(--border-color);
}

.plasmid-tab-dropdown-menu-section-title {
  margin: 0;
  padding: 5px;
  background-color: var(--header-color);
  color: #fff;
  font-size: 14px;
}

.plasmid-tab-dropdown-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.plasmid-tab-dropdown-menu ul span {
  color: var(--text-color);
  padding: 8px 10px;
  cursor: pointer;
  display: block;
}

.plasmid-tab-dropdown-menu ul span:hover {
  background-color: var(--bg-hover);
}
/* #endregion Plasmid_tabs */


/* 
 * MARK: Sidebar 
 */
.sidebar {
  background-color: var(--bg-color2);

  max-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;

  overflow: hidden;
}

.sidebar-content {
  flex-grow: 1;

  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  overflow: hidden;
}

.sidebar-resizer {
  width: 5px;
  cursor: ew-resize;
  background-color: var(--bg-color2);
  border-left: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);

  position: relative;
}

.sidebar-resizer::after {
  content: "|";
  font-weight: bold;
  font-size: 18px;
  color: var(--border-color);

  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sidebar-resizer:hover::after {
  filter: brightness(0.8);
}

#features-table-container {
  flex: 1;
  overflow-y: auto;
}

.features-table {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 5px;

  padding: 3px;
}

/* 
 * MARK: Viewer
 */
.viewer {
  background-color: var(--bg-color1);
}

/* #region Toolbar */
.toolbar {
  background-color: var(--bg-color2);
  border-left: 2px var(--border-color) solid;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  padding: 10px;
}
.toolbar div:first-child {
  border: none;
}
.toolbar div:last-child {
  margin-top: auto;
}

.toolbar-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.toolbar-divider {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--border-color);
}

.toolbar-button {
  display: inline-block;
  border-radius: 5px;

  --toolbar-button-size: 32px;
  width: var(--toolbar-button-size);
  height: var(--toolbar-button-size);
  padding: 0px;

  --toolbar-button-svg-size: 20px;
  background-size: var(--toolbar-button-svg-size) var(--toolbar-button-svg-size);
  background-repeat: no-repeat;
  background-position: center center;

  filter: invert(var(--svg-filter));
  cursor: pointer;
}
.toolbar-button:hover {
  background-color: var(--footer-icon-hover);
}
.toolbar-button-selected {
  background-color: var(--footer-icon-hover);
}
.toolbar-button-selected:hover {
  cursor: auto;
}

.toolbar-button[disabled] {
  opacity: 15%;
  cursor: auto;
}


/* Toolbar icon svgs */
.toolbar-plasmid-circular-button {
  background-image: url('/static/assets/icons/plasmid_circular.svg');
}

.toolbar-plasmid-linear-button {
  background-image: url('/static/assets/icons/plasmid_linear.svg');
}

.toolbar-plasmid-grid-button {
  background-image: url('/static/assets/icons/plasmid_grid.svg');
}

.toolbar-calculator-button {
  background-image: url('/static/assets/icons/thermometer.svg');
}

.toolbar-undo-button {
  background-image: url('/static/assets/icons/undo.svg');
}

.toolbar-redo-button {
  background-image: url('/static/assets/icons/undo.svg');
  transform: scale(-1,1);
}

.toolbar-settings-button {
  background-image: url('/static/assets/icons/settings.svg');
}

.toolbar-help-button {
  background-image: url('/static/assets/icons/help-circle.svg');
}
/* #endregion Toolbar */


/* #region Footer */
.footer {
  background-color: var(--bg-color2);
  border-top: 2px var(--border-color) solid;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 10px;
}

.footer-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.footer-search-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px;
}

.footer-search-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.footer-search-options div {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 5px;
}

.footer-search-options div input,
.footer-search-options div label {
  display: flex;
  align-items: center;
} 

.footer-reset-search-button {
  background-image: url('/static/assets/icons/x.svg');
}

.footer-search-up-button {
  background-image: url('/static/assets/icons/chevron-up.svg');
}

.footer-search-down-button {
  background-image: url('/static/assets/icons/chevron-down.svg');
}

.footer-selection-info {
  margin-left: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.footer-selection-info div p {
  margin: 0;
}
/* #endregion Footer */

s
/* #region Modal_windows */
.popup-window {
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);

 padding: 15px;
 background-color: var(--bg-color2);
 border: 2px solid var(--border-color);
 box-shadow: 0px 0px 5px var(--shadow-color);

 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 gap: 10px;
}

.popup-window h2 {
  margin: 0 0 10px 0px;
}

.popup-window-vgroup {
  margin: 0 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px
}

.popup-window-hgroup {
  margin: 0 0 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.popup-window-new-file {
  min-width: 50vw;
  min-height: 50vh;
}

.popup-window-new-file-sequence-input {
  flex-grow: 1;
}
.popup-window-new-file-sequence-input textarea {
  resize: none;
  flex-grow: 1;
}

.popup-window-input-wrapper {
  display: flex;
  align-items: center;
  background-color: var(--bg-color1);
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.popup-window-input-with-suffix {
  flex-grow: 1;
  position: relative;
  padding: 10px 20px 10px 20px;
  color: var(--text-color);
  background-color: transparent;
  font-size: 16px;
}

.popup-window-input-suffix {
  padding: 10px;
  position: relative;
  color: var(--border-color);
  font-size: 18px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-window {
  min-width: 10vw;
  max-width: 90vw;
}

.modal-button-cancel {
  background-color: #FF5E5E;;
}

.modal-button-cancel:hover {
  background-color: #d34f4f;
}
/* #endregion Modal_windows  */


/* #region Features_table */
.collapsible-header {
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
}

.collapsible-header:hover {
  filter: brightness(1.1);
  outline: 2px solid red;
}

.collapsible-header:after {
  content: '\002B';
  font-size: 14px;
  font-weight: bold;
  color: black;
  float: left;
  margin-right: 12px;
}

.collapsible-header-active:after {
  content: "\2212";
}

.collapsible-content {
  padding: 10px;
  overflow: hidden;
  transition: all 0.3s ease-out;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 5px;
}

.collapsible-content:not([visible]) {
  max-height: 0px;
  padding: 0 10px;
}

.collapsible-content[visible] {
  max-height: 300px;
}

.collapsible-content-hgroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}


.collapsible-content-hgroup-label {
  display: flex;
  align-items: center;

  height: 26px;
  min-width: 25%;
  font-weight: bold;
}

.collapsible-content-hgroup-input {
  flex-grow: 1;

  display: flex;
  justify-content: space-between;
}

.collapsible-content-hgroup-input:has(input[type=checkbox]) {
  height: 26px;

  display: flex;
  align-items: center;
}

.collapsible-content-hgroup-input span {
  margin: 5px;
}

.collapsible-content-hgroup-input input,
.collapsible-content-hgroup-input select,
.collapsible-content-hgroup-input textarea {
  width: 100%;
  padding: 5px;
  background-color: var(--bg-color1);
  border: none;
  color: var(--text-color);
  border-radius: 4px;
}

input, select, textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.collapsible-content-hgroup-input select:hover {
  cursor: pointer;
}

.collapsible-content-hgroup-input input[type=checkbox] {
  width: 18px;
  height: 18px;
}

.collapsible-content-hgroup-input textarea {
  min-height: 70px;
  resize: none;
}

.clr-field {
  width: 37px;
}

.clr-field button {
  width: 100%;
}

.remove-feature-button {
  background-color: #FF5E5E;
}

.remove-feature-button:hover{
  background-color: #d34f4f;
}
/* #endregion Features_table */


/* #region Welcome_disclaimer */
.welcome-disclaimer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-color)
}

.welcome-disclaimer-wrapper {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-disclaimer-wrapper p {
  text-align: center;
  line-height: 1.5;
}
/* #endregion Welcome_disclaimer */


.svg-container {
  width: 100%;
  height: 100%;
}


.svg-wrapper {
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}


#linear-view-container {

  display: flex;
  flex-flow: column;
  justify-content: center;
}

#linear-view-container svg {
  width: 100%;
  height: 200px;
}

#circular-view-container {

  display: flex;
  flex-flow: row;
  justify-content: center;
}

/* #region Grid_view */
.viewer-grid-view {
  overflow-y: scroll;
}

.grid-view-segments-container {
  width: 100%;
}

.grid-view-segments-container svg {
  width: 100%;
}

.svg-wrapper-grid {
  padding: 20px;
}

.svg-plasmid-title {
  font-weight: bold;
}

.svg-sequence-axis {
  fill: none;
  stroke: var(--axis);
  stroke-width: 2;
}

.svg-sequence-axis-grid {
  fill: none;
  stroke: var(--axis);
  stroke-width: 3;
}

.svg-sequence-indices {
  font-weight: bold;
  fill: var(--axis);

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.svg-sequence-group-bounding-box {
  opacity: 0;
  cursor: text;
}

.svg-feature-arrow {
  stroke: var(--border-color);
  stroke-width: 1;
}

.svg-feature-arrow-decoration {
  filter: brightness(0.7)
}

.svg-feature-arrow-hover {
  /*filter: contrast(150%)*/
  filter: brightness(1.1);
  /*filter: opacity(0.7);*/
  stroke: red;
  stroke-width: 2;
  cursor: pointer;
}

.svg-feature-label-black {
  fill: black;
  font-size: 14px;

  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.svg-feature-label-white {
  fill: white;
  font-size: 14px;

  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.base-text {
  font-size: 14px;
  fill: var(--text-color);

  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.base {
  fill: white;
  opacity: 0;
}

.base-hover {
  fill: var(--base-hover);
  opacity: 1;
}

.base-selected {
  fill: var(--base-selected);
  opacity: 1;
}

.base-search {
  fill: var(--base-search);
  opacity: 1;
}

.base-search-focus {
  fill: var(--base-search-highlight);
  opacity: 1;
}

.subcloning-rect {
  opacity: 1;
  fill: var(--base-sub);
  stroke: var(--base-sub-border);
  stroke-width: 2px;
  stroke-dasharray: 10px 10px;
  animation: dash-move 40s linear infinite;
}

@keyframes dash-move {
  from {
      stroke-dashoffset: 0;
  }
  to {
      stroke-dashoffset: -520px; /* Moves dashes along the perimeter */
  }
}


.base-primer-hr,
.base-primer-ins,
.base-primer-tbr,
.base-primer-subhr,
.base-primer-subtbr {
  opacity: 0.3;
  filter: saturate(3);
}

.base-primer-hr {
  fill: var(--hr);
}

.base-primer-ins {
  fill: var(--ins);
}

.base-primer-tbr {
  fill: var(--tbr);
}

.base-primer-subhr {
  fill: var(--subhr);
}

.base-primer-subtbr {
  fill: var(--subtbr);
}

.sequence-cursor {
  fill: none;
  stroke-width: 3;
}

.sequence-cursor-hover {
  stroke: var(--axis);
}

.sequence-cursor-selection {
  stroke: var(--selection-cursor);
}
/* #endregion Grid_view */

.loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 9999;
  cursor: wait;
}


/* #region Sequence_tooltip */
.sequence-tooltip {
  position: absolute;

  background-color: var(--bg-color1);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  box-shadow: 0px 0px 5px var(--shadow-color);

  padding: 5px 10px;
  border-radius: 5px;
  font-size: 11px;
  pointer-events: none;

  z-index: 9999;

  visibility: hidden;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 5px;

  max-width: 300px;
}

.sequence-tooltip[visible] {
  visibility: visible;
}

.sequence-tooltip-title {
  font-size: 14px;
  font-weight: bold;
}

.sequence-tooltip-row {
  width: 100%;
  display: flex;
  gap: 5px
}

.sequence-tooltip-row-key {
  min-width: 30px;
  font-weight: bold;
}

.sequence-tooltip-row-value {
  word-break: break-all;
}
/* #endregion Sequence_tooltip */


/* #region File_drag_and_drop */
.drag-import-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #aeaeae;
  opacity: .5;
}

.drag-import-overlay::after {
  content: "Drop plasmids file to import to IVA Prime.";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  display: block;
  text-align: center;
  padding: 20px;
  transform: translate(-50%, -50%);
  font-weight: bold;
  box-shadow: 0px 0px 20px var(--shadow-color);
}
/* #endregion File_drag_and_drop */


/* #region Alerts */
.alerts-container-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;

  overflow: hidden;

  /*background-color: #000000;*/
  mask-image: linear-gradient(
    to bottom, 
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.75) 20%, 
    rgba(0,0,0,0.94) 40%, 
    rgba(0,0,0,0.98) 60%, 
    rgba(0,0,0,0.996) 80%, 
    rgba(0,0,0,1) 100%
  );

  box-sizing: border-box;

  visibility: hidden;
}

.alerts-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;

  box-sizing: border-box;
}

.alert {
  max-width: 100%;
  max-height: 20vh;

  display: flex;
  align-items: stretch;
  gap: 5px;

  overflow: hidden;
  opacity: 1;
  background: var(--bg-color1);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px var(--shadow-color);
  border-left: 5px solid orange;

  transition: all 0.5s ease-out;

  box-sizing: border-box;

  visibility: visible;
}

.alert-collapsed {
  height: 0 !important;
  opacity: 0;
  padding: 0 5px;
}

.alert-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.alert-icon-container svg {
  width: 40px;
}

.alert-body {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;

  padding: 10px 0;
}

.alert-body h4 {
  font-size: 14px;
  margin: 0;
}

.alert-text {
  overflow-y: auto;
}

.alert-close-button {
  padding: 20px;
  
  cursor: pointer;
  font-size: 30px;
  border-radius: 5px;
  align-content: center;
  text-align: center;
}

.alert-close-button:hover {
  background-color: var(--base-hover);
}
/* #endregion Alerts */


/* #region Primers_table */
#primers-table-container {
  max-height: 50%;
  overflow-x: hidden;
  overflow-y: auto;
}
#primers-table-container:has(div.primers-set) {
  border-bottom: 2px var(--border-color) solid;
}

.primers-table {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 20px;
}

.primers-table:has(div) {
  padding: 10px;
}

.primers-set {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 15px;
}

.primers-set-title {
  font-size: 16px;
  font-weight: bold;
  
  border-bottom: 2px solid var(--border-color);
}

.primers-set-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 10px;
}

.primers-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 15px;
}

.primer-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 5px;
}

.primer-container > *:not(:first-child) {
  margin-left: 10px;
}

.primer-title {
  font-size: 14px;
  font-weight: bold;
}

.primer-sequence-regions {
  word-break: break-all;
  line-height: 1.5;
}

.primer-sequence {
  color: white;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 2px 3px;

  align-items: center;
}

.primer-sequence-hr {
  background-color: var(--hr);
}

.primer-sequence-ins {
  background-color: var(--ins);
}

.primer-sequence-tbr {
  background-color: var(--tbr);
}

.primer-sequence-subhr {
  background-color: var(--subhr);
}

.primer-sequence-subtbr {
  background-color: var(--subtbr);
}


.primer-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.primer-info span {
  font-weight: bold;
}
/* #endregion Primers_table */


/* #region Context_menu */
.context-menu {
  position: absolute;
  z-index: 9999;

  min-width: 180px;
  color: var(--text-color);
  background-color: var(--bg-color1);
  box-shadow: 0px 2px 10px var(--shadow-color);
  border: 2px solid var(--border-color);

  display: block;

  visibility: visible;
}

.context-menu:not([visible]) {
  visibility: hidden;
}


.context-menu-section-title {
  padding: 5px;
  font-weight: bold;
}

.context-menu-section-items {
  padding-left: 5px;
}

.context-menu-item {
    padding: 7px 10px;
}

.context-menu-item p {
  margin: 3px 0px;
}

.context-menu-item[disabled] {
  opacity: 15%;
}

.context-menu-item:not([disabled]):hover {
  background-color: var(--bg-hover);
  cursor: pointer;
}

.context-menu-separator {
  height: 1px;
  background: var(--border-color);
}


.context-submenu:not([visible]) {
  visibility: hidden;
}

/* Submenu items */
.context-menu-has-submenu {
  position: relative;
}

.context-menu-has-submenu::after {
  content: "›";
  font-size: 18px;

  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


/* #endregion Context_menu */