/*
  COLOR THEMES
*/
[data-theme="light"] {
  /* Theme colors */
  --text-color: #000000;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --bg-color1: #fff;
  --bg-color2: #f2f2f2;
  --bg-color3: #f9f9f9;
  --bg-hover: #dcdcdc;
  --footer-icon-hover: #dcdcdc;
  --header-color: #333333;
  --header-text-color: #fff;
  --header-btn-hover:#5c5c5c; 
  --border-color: #b8b8b8;
  --link-default: unset;
  --link-visited: unset;

  /* Context menu */
  --context-menu-bg-color: #333;
  --context-menu-h3-color: #555;
  --context-menu-border-color: #ccc;
  --context-menu-text-color: #fff;
  --context-menu-li-hover: #555;

  /* SVG invert filter value */
  --svg-filter: 0%;

  /* Cell hover effects */
  --sequence-grid-cell-hover: #e0e0e0;
  --sequence-grid-cell-selected: rgba(0, 150, 255, 0.2);
  --sequence-grid-cell-search-result-highlight: #df63dd;;
  --sequence-grid-cell-search-result: yellow;

  /* Sequence grid cursors */
  --hover-cursor: red;
  --selection-cursors: purple;

  /* Subcloning */
  --subcloning-background: rgba(128, 0, 128, 0.2);
  --subcloning-border: #ae70ae; 
}

[data-theme="dark"] {
  /* Theme colors */
  --text-color: #ffffff;
  --shadow-color: rgba(255, 255, 255, 0.1);
  --bg-color1: #101217;
  --bg-color2: #1c2028;
  --bg-color3: #1a1a20;
  --bg-hover: #2f394d;
  --footer-icon-hover: #d0c6b2;
  --header-color: #171a24;
  --header-text-color: #ffffff;
  --header-btn-hover:#374164;
  --border-color: #34373c;
  --link-default: #9F9FFF;;
  --link-visited: #B874F7;;

  /* Context menu */
  --context-menu-bg-color: #1a1a20;
  --context-menu-h3-color: #343b55;
  --context-menu-border-color: #b5bfcc;
  --context-menu-text-color: #fff;
  --context-menu-li-hover: #2f394d;

  /* SVG invert filter value */
  --svg-filter: 100%;

  /* Cell hover effects */
  --sequence-grid-cell-hover: #393939;
  --sequence-grid-cell-selected: rgba(62, 175, 255, 0.2);
  --sequence-grid-cell-search-result-highlight: #932191;
  --sequence-grid-cell-search-result: #932b21;

  /* Sequence grid cursors */
  --hover-cursor: #fb5555;
  --selection-cursors: #ce59ce;

  /* Subcloning */
  --subcloning-background: rgba(255, 70, 255, 0.2);
  --subcloning-border: #a652a6;
}

/* 
 * Body
 */
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  font-family: Arial, sans-serif;
}

/* 
 * Layout
 */
.content-wrapper {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 500px auto 55px;
  grid-template-rows: 70px auto 40px;
  
  grid-template-areas:
        "header header header"
        "sidebar viewer toolbar"
        "sidebar footer footer";
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.viewer {
  grid-area: viewer;
}

.toolbar {
  grid-area: toolbar;
}

.footer {
  grid-area: footer;
}


/* 
 * Buttons
 */
.round-button {
  display: block;

  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;

  color: white;
  background-color: #4CAF50;
  
  transition: all .25s;
}
.round-button:hover {
  background-color: #45a049;
}

.new-file-button {
  color: white;
  background-color: #2E6AAA;
}
.new-file-button:hover {
  background-color: #214d7c;
}

.demo-file-button {
  color: white;
  background-color: #FF9900;
}
.demo-file-button:hover {
  background-color: #FF8000;
}


/*
 * Inputs and checkboxes
 */
input {
  padding: 5px;
  color: var(--text-color);
  background-color: var(--bg-color1);
  border: none;
  border-radius: 5px;
}

input[type="checkbox"] {
  --checkbox-size: 20px;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  padding: 0;
  margin: 0;
}

/* 
 * Header
 */
.header {
  background-color: var(--header-color);

  display: flex;
  flex-direction: row;
  gap: 20px;

  padding: 10px;
}

/* Import buttons */
.header-import-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

/* Plasmid tabs */
.plasmid-tabs-wrapper {
  flex-grow: 1;

  display: flex;
  align-items: center;
  gap: 10px;
  
  width: 500px;
  position: relative;
}

.plasmid-tabs-scroll-button {
  color: white;
  background-color: transparent;
  font-size: 24px;
}
.plasmid-tabs-scroll-button:hover {
  background-color: var(--header-btn-hover);
}

.plasmid-tabs-container-wrapper {
  flex-grow: 1;

  max-width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;

  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.193) transparent;
}


.plasmid-tabs-container {
  display: flex;
  gap: 10px;
  margin: 10px 0px 2px 0px;
}


.plasmid-tab {
  border-radius: 5px;
  padding: 10px 10px 10px 30px;
  text-align: center;
  background-color: transparent;
  
  display: flex;
  align-items: center;
  gap: 10px;

  white-space:nowrap;

  transition: all .25s;
}
.plasmid-tab:hover {
  background-color: var(--header-btn-hover);
}
.plasmid-tab-selected {
  font-weight: bold;
  background-color: #4caf4f81;
}
.plasmid-tab-selected:hover {
  background-color: #4CAF50;
}

.plasmid-tab a {
  display: inline-block;

  color: white;
  text-decoration: none;
}


.plasmid-tab-dropdown-button {
  padding: 3px;
	border-radius: 20px;
}
.plasmid-tab-dropdown-button:hover {
	background: #DAE0E7;
}


/* 
 * Sidebar 
 */
.sidebar {
  background-color: var(--bg-color2);
  border-right: 2px var(--border-color) solid;

  overflow-x: hidden;
  overflow-y: scroll;
}

/* 
 * Viewer
 */
.viewer {
  background-color: var(--bg-color1);
}

/* 
 * Toolbar
 */
.toolbar {
  background-color: var(--bg-color2);
  border-left: 2px var(--border-color) solid;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  padding: 10px;
}
.toolbar div:first-child {
  border: none;
}
.toolbar div:last-child {
  margin-top: auto;
}

.toolbar-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.toolbar-divider {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--border-color);
}

.toolbar-button {
  display: inline-block;
  border-radius: 5px;

  --toolbar-button-size: 32px;
  width: var(--toolbar-button-size);
  height: var(--toolbar-button-size);
  padding: 0px;

  --toolbar-button-svg-size: 20px;
  background-size: var(--toolbar-button-svg-size) var(--toolbar-button-svg-size);
  background-repeat: no-repeat;
  background-position: center center;
}
.toolbar-button:hover {
  background-color: var(--footer-icon-hover);
}
.toolbar-button-selected {
  background-color: var(--footer-icon-hover);
}
.toolbar-button-selected:hover {
  cursor: auto;
}


/* Toolbar icon svgs */
.toolbar-plasmid-circular-button {
  background-image: url('/static/assets/icons/plasmid_circular.svg');
}

.toolbar-plasmid-linear-button {
  background-image: url('/static/assets/icons/plasmid_linear.svg');
}

.toolbar-plasmid-grid-button {
  background-image: url('/static/assets/icons/plasmid_grid.svg');
}

.toolbar-calculator-button {
  background-image: url('/static/assets/icons/thermometer.svg');
}

.toolbar-undo-button {
  background-image: url('/static/assets/icons/undo.svg');
}

.toolbar-redo-button {
  background-image: url('/static/assets/icons/undo.svg');
  transform: scale(-1,1);
}

.toolbar-settings-button {
  background-image: url('/static/assets/icons/settings.svg');
}

.toolbar-help-button {
  background-image: url('/static/assets/icons/help-circle.svg');
}

/* 
 * Footer
 */
.footer {
  background-color: var(--bg-color2);
  border-top: 2px var(--border-color) solid;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 10px;
}

.footer-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.footer-search div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.footer-reset-search-button {
  background-image: url('/static/assets/icons/x.svg');
}

.footer-search-up-button {
  background-image: url('/static/assets/icons/chevron-up.svg');
}

.footer-search-down-button {
  background-image: url('/static/assets/icons/chevron-down.svg');
}

.footer-selection-info {
  margin-left: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.footer-selection-info div p {
  margin: 0;
}


/* 
 * Popup windows
 */
.popup-window {
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);

 padding: 20px;
 background-color: var(--bg-color2);
 border: 2px solid var(--border-color);
 box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 gap: 10px;
}

.popup-window h2 {
  margin: 0 0 10px 0px;
}

.popup-window-vgroup {
  margin: 0 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px
}

.popup-window-hgroup {
  margin: 0 0 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.popup-window-new-file {
  min-width: 50vw;
  min-height: 50vh;
}

.popup-window-new-file-sequence-input {
  flex-grow: 1;
}
.popup-window-new-file-sequence-input textarea {
  resize: none;
  flex-grow: 1;
}

/*
 * Features table
 */
.collapsible-header {
  cursor: pointer;
  padding: 10px;
  margin: 2px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  color: var(--text-color);
}

.collapsible-header:hover {
  cursor: pointer;
  padding: 10px;
  margin: 2px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
}

.collapsible-header:after {
  content: '\002B';
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color);
  float: left;
  margin-right: 12px;
}

.collapsible-header-active:after {
  content: "\2212";
}

.collapsible-content {
  padding: 12px;
  display: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.collapsible-content-hgroup {
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.collapsible-content-hgroup-label {
  min-width: 110px;
  font-weight: bold;
}

.collapsible-content-hgroup-input {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.collapsible-content-hgroup-input span {
  margin: 5px;
}

.collapsible-content-hgroup-input input,
.collapsible-content-hgroup-input select,
.collapsible-content-hgroup-input textarea {
  width: 100%;
  padding: 5px;
  background-color: var(--bg-color1);
  border: none;
  color: var(--text-color);
  border-radius: 4px;
}

input, select, textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
} 

.collapsible-content-hgroup-input input[type=checkbox] {
  width: 18px;
  height: 18px;
}

.collapsible-content-hgroup-input textarea {
  height: 150px;
  resize: none;
}

.clr-field {
  width: 37px;
}

.clr-field button {
  width: 100%;
}

.remove-feature-button {
  background-color: #FF5E5E;
}

.remove-feature-button:hover{
  background-color: #d34f4f;
}


/* VIEWER */

.svg-container {
  width: 100%;
  height: 100%;
}

.svg-wrapper {
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}


/*
 * LINEAR VIEW
 */
#linear-view-container {

  display: flex;
  flex-flow: column;
  justify-content: center;
}

#linear-view-container svg {
  width: 100%;
  height: 200px;
}

/*
 * CIRCULAR VIEW
 */
#circular-view-container {

  display: flex;
  flex-flow: row;
  justify-content: center;
}

/*
 * GRID VIEW
 */
.viewer-grid-view {
  overflow-y: scroll;
}

.grid-view-segments-container {
  width: 100%;
}

.grid-view-segments-container svg {
  width: 100%;
}

.svg-wrapper-grid {
  padding: 20px;
}




.svg-plasmid-title {
  font-weight: bold;
}

.svg-sequence-axis {
  fill: none;
  stroke: var(--border-color);
  stroke-width: 2;
}

.svg-sequence-axis-grid {
  fill: none;
  stroke: var(--border-color);
  stroke-width: 3;
}

.svg-feature-arrow {
  stroke: var(--border-color);
  stroke-width: 1;
}

.svg-feature-arrow-hover {
  /*filter: contrast(150%)*/
  filter: brightness(1.1);
  /*filter: opacity(0.7);*/
  stroke: red;
  stroke-width: 2;
  cursor: pointer;
}

.svg-feature-label {
  fill: black;

  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.svg-sequence-bases-text {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 9999;
  cursor: wait;
}