{% load static %}
<!-- Made by:
    Radu Cristian Leonte
    (raducristian.leonte@gmail.com)
    (raducristian.leonte@unibas.ch) -->
<!DOCTYPE html>
    <html>
        <head>
            <title>IVA Prime</title>
            {% if DEBUG %}
                {% load livereload_tags %}
                {% livereload_script %}
            {% endif %}
            
            <!-- Styling -->
            <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'coloris.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
            
            <!-- Libraries -->
            <script src="{% static 'js/libraries/html-docx.js' %}"></script>
            <script src="{% static 'js/libraries/xlsx-populate.min.js' %}"></script>
            <script src="{% static 'js/libraries/coloris.js' %}"></script>
            <script src="{% static 'js/libraries/FileSaver.js' %}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/fast-xml-parser/4.5.1/fxparser.min.js"></script>
            
            <!-- Scripts -->
            <script src="{% static 'js/userPreferences.js' %}"></script>
            <script src="{% static 'js/plasmidTabs.js' %}"></script>
            <script src="{% static 'js/modals.js' %}"></script>
            <script src="{% static 'js/fileIO.js' %}"></script>
            <script src="{% static 'js/nucleotides.js' %}"></script>
            <script src="{% static 'js/plasmids.js' %}"></script>
            <script src="{% static 'js/sidebar.js' %}"></script>
            <script src="{% static 'js/plasmidViewer.js' %}"></script>
            <script src="{% static 'js/alerts.js' %}"></script>
            <script src="{% static 'js/utilities.js' %}"></script>
            <script src="{% static 'js/primers.js' %}"></script>
            <script src="{% static 'js/search.js' %}"></script>
            <script src="{% static 'js/toolbar.js' %}"></script>

            <tag autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>

        </head>
        
        <body ondragover="FileIO.importDragOver(event)" ondragleave="FileIO.importDragLeave(event)" ondrop="FileIO.importDrop(event)">
            <!-- Prevents flashing bug in Firefox -->
            <script>let FF_FOUC_FIX;</script>

            <!--

            MARK: Cursor hint/tooltip
            
            -->

            <div id="sequence-tooltip" class="sequence-tooltip"></div>


            <!-- 
            
            MARK: Modal windows
            
            -->
            <div class="modal"></div>

            
            <!-- 
            
            MARK: Context menu
            
            -->
            <div id="context-menu" class="context-menu"></div>


            <!--
            
            MARK: Toolbar panels

            -->
            <div id="toolbar-panel-tm" class="modal-window toolbar-panel toolbar-panel-tm">
                <div class="modal-body toolbar-panel-body">
                    <div class="modal-title toolbar-panel-title">
                        Calculate melting temperatures
                    </div>

                    <div class="modal-vgroup toolbar-panel-tm-vgroup">
                        <label>Primer 1</label>
                        <input type="text" id="tm-calcinput1" class="modal-input">
                        <span>Tm = <span id="tm-calc-tm1">--</span> °C <span id="tm-calc-info1" style="display: block;"></span></span>
                    </div>

                    <div class="modal-vgroup toolbar-panel-tm-vgroup">
                        <label>Primer 2</label>
                        <input type="text" id="tm-calc-input2" class="modal-input">
                        <span>
                            Tm = <span id="tm-calc-tm2">--</span> °C <span id="tm-calc-info2" style="display: block;"></span>
                        </span>
                    </div>
                
                </div>
            </div>

            <div id="toolbar-panel-settings" class="modal-window toolbar-panel toolbar-panel-settings">
                <div class="modal-body toolbar-panel-body">
                    <div class="modal-title toolbar-panel-title">
                        Settings
                    </div>

                    <div class="toolbar-panel-section">
                        <div class="toolbar-panel-section-title">
                            Primer generation settings
                        </div>

                        <div class="toolbar-panel-section-hgroup">
                            <label>Primer type</label>

                            <div class="toolbar-panel-section-hgroup-input">
                                <span>
                                    Symmetric
                                </span>
                                <div class="boolean-switch-wrapper">
                                    <label class="boolean-switch">
                                        <input type="checkbox" class="boolean-switch-input">
                                        <span class="boolean-switch-slider"></span>
                                    </label>
                                </div>
                                <span>
                                    Asymmetric
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="toolbar-panel-section">
                        <div class="toolbar-panel-section-title">
                            Appearance
                        </div>

                        <div class="toolbar-panel-section-hgroup">
                            <label>Theme</label>
                            <div class="toolbar-panel-section-hgroup-input">
                                <select id="primer-symmetry-select">
                                    <option value="light">Light</option>
                                    <option value="dark">Dark</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="toolbar-panel-collapsible">

                        <div class="toolbar-panel-section">
                            <div class="toolbar-panel-section-title">
                                Tm calculator settings
                            </div>
    
                            <div class="toolbar-panel-section-hgroup">
                                <label>Primer concentration [nM]</label>
                                <div class="toolbar-panel-section-hgroup-input">
                                    <input type="text" class="modal-input" validator="float">
                                </div>
                            </div>

                            <div class="toolbar-panel-section-hgroup">
                                <label>Algorithm</label>
                                <div class="toolbar-panel-section-hgroup-input">
                                    <input type="text" class="modal-input">
                                </div>
                            </div>

                            <div class="toolbar-panel-section-hgroup">
                                <label>Salt concentration [M]</label>
                                <div class="toolbar-panel-section-hgroup-input">
                                    <input type="text" class="modal-input" validator="float">
                                </div>
                            </div>

                            <div class="toolbar-panel-section-hgroup">
                                <label>Salt correction</label>
                                <div class="toolbar-panel-section-hgroup-input">
                                    <input type="text" class="modal-input">
                                </div>
                            </div>

                            <div class="toolbar-panel-section-hgroup">
                                <label>DMSO concentration [M]</label>
                                <div class="toolbar-panel-section-hgroup-input">
                                    <input type="text" class="modal-input" validator="float">
                                </div>
                            </div>
                        </div>

                        <div class="toolbar-panel-section">
                            <div class="toolbar-panel-section-title">
                                Primer generation settings
                            </div>
    
                            <div class="toolbar-panel-section-hgroup">
                                <label>HR minimum length [nt]</label>
                                <div class="toolbar-panel-section-hgroup-input">
                                    <input type="text" class="modal-input">
                                </div>
                            </div>

                            <div class="toolbar-panel-section-hgroup">
                                <label>HR target Tm [°C]</label>
                                <div class="toolbar-panel-section-hgroup-input">
                                    <input type="text" class="modal-input" validator="float">
                                </div>
                            </div>

                            <div class="toolbar-panel-section-hgroup">
                                <label>Subcloning HR target Tm [°C]</label>
                                <div class="toolbar-panel-section-hgroup-input">
                                    <input type="text" class="modal-input" validator="float">
                                </div>
                            </div>

                            <div class="toolbar-panel-section-hgroup">
                                <label>TBR target Tm [°C]</label>
                                <div class="toolbar-panel-section-hgroup-input">
                                    <input type="text" class="modal-input" validator="float">
                                </div>
                            </div>

                            <div class="toolbar-panel-section-hgroup">
                                <label>Maximum Tm for short insertions [°C]</label>
                                <div class="toolbar-panel-section-hgroup-input">
                                    <input type="text" class="modal-input" validator="float">
                                </div>
                            </div>
                        </div>
                    
                    </div>  

                </div>
            </div>


            <!-- Start main content-->
            <div id="content-wrapper" class="content-wrapper">
                <!--
                
                MARK: Header
                
                -->
                <div class="header">
                    <!-- Import buttons -->
                    <div class="header-import-buttons">
                        <span class="round-button" title="Import a plasmid file from your computer" onclick="FileIO.importFileButton(event)">Import File</span>
                        <span class="round-button new-file-button" title="Create a new plasmid file from a DNA sequence" onclick="Modals.createNewFileModal()">New File</span>
                        <span class="round-button demo-file-button" title="Import a pET-28a plasmid" onclick="FileIO.importDemoFile()">Demo File</span>
                    </div>

                    <!-- Plasmid tabs -->
                    <div class="plasmid-tabs-wrapper">
                        <span
                        class="round-button plasmid-tabs-scroll-button"
                        onclick="PlasmidTabs.scrollTabs(-1, this)"
                        disabled
                        >‹</span>

                        <div id="plasmid-tabs-container-wrapper" class="plasmid-tabs-container-wrapper">
                            <div class="plasmid-tabs-container" id="plasmid-tabs-container">
                                
                            </div>
                        </div>

                        <span
                        class="round-button plasmid-tabs-scroll-button"
                        onclick="PlasmidTabs.scrollTabs(1, this)"
                        disabled
                        >›</span>
                    </div>
                </div>
                <!-- End Header -->

                <!--
                
                MARK: SIDEBAR 
                
                -->
                <div class="sidebar">
                    <div class="sidebar-content">
                        <!-- Primers -->
                        <div id="primers-table-container">
                            <div id="primers-table"></div>
                        </div>
    
                        <!-- Features table -->
                        <div id="features-table-container">
                            <div id="features-table"></div>
                        </div>
                    </div>
                    <div id="sidebar-resizer" class="sidebar-resizer"></div>
                </div>
                <!-- End Sidebar -->

                <!--

                MARK: VIEWER

                -->
                <div id="viewer" class="viewer">
                    <!--
            
                    MARK: Alerts
                    
                    -->
                    <div class="alerts-container-wrapper">
                        <div class="alerts-container" id="alerts-container">
    
                        </div>
                    </div>
                    <!-- End Alerts -->


                    <!--
            
                    MARK: Welcome disclaimer
                    
                    -->
                    <div class="welcome-disclaimer" id="welcome-disclaimer">
                        <div class="welcome-disclaimer-wrapper">
                            <div class="welcome-disclaimer-wrapper-title">
                                Welcome to IVA Prime!
                            </div>
                            <p>
                                IVA Prime is freely available to all users without any login requirement. Check out the <a href="/about" target="_blank" class="underlined-link">About</a> page for more info.
                            </p>
                        </div>
                    </div>
                    <!-- End Welcome disclaimer -->

                    <!--
            
                    MARK: Views
                    
                    -->
                    <div class="svg-container" id="circular-view-container" style="display:none"></div>
                    <div class="svg-container" id="linear-view-container" style="display:none"></div>
                    <div class="svg-container" id="grid-view-container" style="display:none"></div>
                    <!-- End Views -->
                </div>
                <!-- End Viewer -->

                <!--
                
                MARK: Toolbar
                
                -->
                <div class="toolbar">
                    <!-- Undo Redo -->
                    <div class="toolbar-group">
                        <span
                            class="toolbar-button toolbar-undo-button"
                            disabled
                            title="Undo action (Ctrl + Z)"
                        ></span>

                        <span
                            class="toolbar-button toolbar-redo-button"
                            disabled
                            title="Redo action (Ctrl + Shift + Z)"
                        ></span>
                    </div>
                    
                    <div class="toolbar-divider"></div>
                    
                    <!-- Tm calculator -->
                    <div class="toolbar-group">
                        <span
                            class="toolbar-button
                            toolbar-calculator-button"
                            title="Primer Tm calculator"
                            onclick='Toolbar.togglePanel("toolbar-panel-tm", this)'
                        ></span>
                    </div>
                    
                    <div class="toolbar-divider"></div>
                    
                    <!-- Plasmid view options -->
                    <div class="toolbar-group">
                        <span
                            id="circular-view-button"
                            class="toolbar-button toolbar-plasmid-circular-button"
                            disabled
                            title="Circular plasmid view"
                            onclick='PlasmidViewer.switchView("circular", this)'
                        ></span>

                        <span
                            id="linear-view-button"
                            class="toolbar-button toolbar-plasmid-linear-button"
                            disabled
                            title="Linear plasmid view"
                            onclick='PlasmidViewer.switchView("linear", this)'
                        ></span>

                        <span
                            id="grid-view-button"
                            class="toolbar-button toolbar-plasmid-grid-button"
                            disabled
                            title="Grid plasmid view"
                            onclick='PlasmidViewer.switchView("grid", this)'
                        ></span>
                    </div>

                    <!-- Settings & help -->
                    <div class="toolbar-group">
                        <span
                            class="toolbar-button toolbar-settings-button"
                            title="Settings"
                            onclick='Toolbar.togglePanel("toolbar-panel-settings", this)'
                        ></span>

                        <span
                            class="toolbar-button toolbar-help-button"
                            title="Help"
                        ></span>
                    </div>
                </div>
                <!-- End Toolbar -->

                <!--
                
                MARK: Footer
                
                -->
                <div class="footer">
                    <div class="footer-search">
                        <input id="search-bar" type="text" placeholder="Search sequence" validator="">
                        
                        <div class="footer-search-controls">
                            <span class="toolbar-button footer-reset-search-button" title="Reset search query" onclick='Serach.clear()'></span>
                            <span class="toolbar-button footer-search-up-button" title="Go to previous occurence" onclick='Search.navigateResults(-1)'></span>
                            <span class="toolbar-button footer-search-down-button" title="Go to next occurence" onclick='Search.navigateResults(1)'></span>
                        </div>

                        <div>
                            <span id="search-bar-info"></span>
                        </div>
                    
                        <div class="footer-search-options">
                            <div>
                                <input type="checkbox" id="search-aa" name="search-aa" onclick='Search.searchAACheckboxCallback(event)'>
                                <label for="search-aa">Amino acid sequence</label>
                            </div>
                        </div>
                    </div>

                    <div id="footer-selection-info" class="footer-selection-info">
                        <div>
                            <p>Selected: <span id="footer-selection-info-length">0</span> bp <span id="footer-selection-info-remainder"></span> <span id="footer-selection-info-range"></span></p>
                        </div>
                        <div>
                            <p>Tm = <span id="footer-selection-info-tm"></span> °C</p>
                        </div>
                    </div>
                </div>
                <!-- End Footer -->
            </div>
            <!-- End main content-->
        
        </body>
    </html>