{% load static %}
<!-- Made by:
    Radu Cristian Leonte
    (raducristian.leonte@gmail.com)
    (raducristian.leonte@unibas.ch) -->
<!DOCTYPE html>
    <html>
        <head>
            <title>IVA Prime</title>
            
            <!-- Styling -->
            <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'coloris.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
            
            <!-- Libraries -->
            <script src="{% static 'js/libraries/html-docx.js' %}"></script>
            <script src="{% static 'js/libraries/xlsx-populate.min.js' %}"></script>
            <script src="{% static 'js/libraries/coloris.js' %}"></script>
            <script src="{% static 'js/libraries/FileSaver.js' %}"></script>
            
            <!-- Scripts -->
            <script src="{% static 'js/userPreferences.js' %}"></script>
            <script src="{% static 'js/plasmidTabs.js' %}"></script>
            <script src="{% static 'js/popupWindows.js' %}"></script>
            <script src="{% static 'js/fileIO.js' %}"></script>
            <script src="{% static 'js/nucleotides.js' %}"></script>
            <script src="{% static 'js/plasmids.js' %}"></script>
            <script src="{% static 'js/sidebar.js' %}"></script>
            <script src="{% static 'js/plasmidViewer.js' %}"></script>
            <script src="{% static 'js/alerts.js' %}"></script>
        </head>
        
        <body ondragover="FileIO.importDragOver(event)" ondragleave="FileIO.importDragLeave(event)" ondrop="FileIO.importDrop(event)">
            <!-- Prevents flashing bug in Firefox -->
            <script>let FF_FOUC_FIX;</script>

            <!--

            MARK: Cursor hint/tooltip
            
            -->

            <div id="sequence-tooltip" class="sequence-tooltip"></div>


            <!-- 
            
            MARK: Popup windows
            
            -->
            <!-- New File window-->
            <div class="modal">
                <div class="popup-window popup-window-new-file" id="new-file-window" style="display:none">
                    <h2>New File</h2>
        
                    <div class="popup-window-vgroup">
                        <label for="new-file-name-input">File name:</label>
                        <input type="text" id="new-file-name-input" class="popup-window-input" value="untitled">
                    </div>
                    
                    <div class="popup-window-vgroup popup-window-new-file-sequence-input">
                        <label for="new-file-sequence-input">DNA Sequence:</label>
                        <textarea id="new-file-sequence-input" class="popup-window-input popup-window-textarea" spellcheck="false"></textarea>
                    </div>
    
                    <div class="popup-window-hgroup">
                        <label for="annotate-common-features-checkbox">Annotate common features:</label>
                        <input type="checkbox" id="new-file-annotate-features-checkbox" name="annotate-common-features-checkbox" checked="true">
                    </div>
    
                    <div class="popup-window-hgroup">
                        <label for="annotate-common-features-checkbox">Sequence topology:</label>
                        <select id="new-file-topology-select">
                            <option value="linear" selected="selected">Linear</option>
                            <option value="circular">Circular</option>
                        </select>
                    </div>
                    
                    
                    <div class="popup-window-hgroup">
                        <a class="round-button" href="#" onclick="FileIO.newFileFromSequence()">Create File</a>
                        <a class="round-button" href="#" onclick="FileIO.resetNewFilePopupWindow()">Cancel</a>
                    </div>
                </div>
            </div>
            <!-- End popup windows -->


            <!-- Start main content-->
            <div class="content-wrapper">
                <!--
                
                MARK: Header
                
                -->
                <div class="header">
                    <!-- Import buttons -->
                    <div class="header-import-buttons">
                        <span class="round-button" title="Import a plasmid file from your computer" onclick="FileIO.importFileButton(event)">Import File</span>
                        <span class="round-button new-file-button" title="Create a new plasmid file from a DNA sequence" onclick="PopupWindow.show('new-file-window')">New File</span>
                        <span class="round-button demo-file-button" title="Import a pET-28a plasmid" onclick="FileIO.importDemoFile()">Demo File</span>
                    </div>

                    <!-- Plasmid tabs -->
                    <div class="plasmid-tabs-wrapper">
                        <span
                        class="round-button plasmid-tabs-scroll-button"
                        onclick="PlasmidTabs.scrollTabs(-1, this)"
                        disabled
                        >‹</span>

                        <div id="plasmid-tabs-container-wrapper" class="plasmid-tabs-container-wrapper">
                            <div class="plasmid-tabs-container" id="plasmid-tabs-container">
                                
                            </div>
                        </div>

                        <span
                        class="round-button plasmid-tabs-scroll-button"
                        onclick="PlasmidTabs.scrollTabs(1, this)"
                        disabled
                        >›</span>
                    </div>
                </div>
                <!-- End Header -->

                <!--
                
                MARK: SIDEBAR 
                
                -->
                <div class="sidebar">
                    <!-- Primers -->
                    <div id="primers-table-container">
                        <div id="primers-table"></div>
                    </div>

                    <!-- Features table -->
                    <div id="features-table-container">
                        <div id="features-table"></div>
                    </div>
                </div>
                <!-- End Sidebar -->

                <!--

                MARK: VIEWER

                -->
                <div id="viewer" class="viewer">
                    <!--
            
                    MARK: Alerts
                    
                    -->
                    <div class="alerts-container-wrapper">
                        <div class="alerts-container" id="alerts-container">
    
                        </div>
                    </div>
                    <!-- End Alerts -->


                    <!--
            
                    MARK: Welcome disclaimer
                    
                    -->
                    <div class="welcome-disclaimer" id="welcome-disclaimer">
                        <div class="welcome-disclaimer-wrapper">
                            <h1>
                                Welcome to IVA Prime!
                            </h1>
                            <p>
                                IVA Prime is freely available to all users without any login requirement. Check out the <a href="/about" target="_blank">About</a> page for more info.
                            </p>
                        </div>
                    </div>
                    <!-- End Welcome disclaimer -->

                    <!--
            
                    MARK: Views
                    
                    -->
                    <div class="svg-container" id="circular-view-container" style="display:none"></div>
                    <div class="svg-container" id="linear-view-container" style="display:none"></div>
                    <div class="svg-container" id="grid-view-container" style="display:none"></div>
                    <!-- End Views -->
                </div>
                <!-- End Viewer -->

                <!--
                
                MARK: Toolbar
                
                -->
                <div class="toolbar">
                    <!-- Undo Redo -->
                    <div class="toolbar-group">
                        <span
                            class="toolbar-button toolbar-undo-button"
                            disabled
                            title="Undo action (Ctrl + Z)"
                        ></span>

                        <span
                            class="toolbar-button toolbar-redo-button"
                            disabled
                            title="Redo action (Ctrl + Shift + Z)"
                        ></span>
                    </div>
                    
                    <div class="toolbar-divider"></div>
                    
                    <!-- Tm calculator -->
                    <div class="toolbar-group">
                        <span
                            class="toolbar-button
                            toolbar-calculator-button"
                            title="Primer Tm calculator"
                        ></span>
                    </div>
                    
                    <div class="toolbar-divider"></div>
                    
                    <!-- Plasmid view options -->
                    <div class="toolbar-group">
                        <span
                            id="circular-view-button"
                            class="toolbar-button toolbar-plasmid-circular-button"
                            disabled
                            title="Circular plasmid view"
                            onclick='PlasmidViewer.switchView("circular", this)'
                        ></span>

                        <span
                            id="linear-view-button"
                            class="toolbar-button toolbar-plasmid-linear-button"
                            disabled
                            title="Linear plasmid view"
                            onclick='PlasmidViewer.switchView("linear", this)'
                        ></span>

                        <span
                            id="grid-view-button"
                            class="toolbar-button toolbar-plasmid-grid-button"
                            disabled
                            title="Grid plasmid view"
                            onclick='PlasmidViewer.switchView("grid", this)'
                        ></span>
                    </div>

                    <!-- Settings & help -->
                    <div class="toolbar-group">
                        <span
                            class="toolbar-button toolbar-settings-button"
                            title="Settings"
                        ></span>

                        <span
                            class="toolbar-button toolbar-help-button"
                            title="Help"
                        ></span>
                    </div>
                </div>
                <!-- End Toolbar -->

                <!--
                
                MARK: Footer
                
                -->
                <div class="footer">
                    <div class="footer-search">
                        <input type="text" placeholder="Search sequence">
                        
                        <a href="#" class="toolbar-button footer-reset-search-button" title="Reset search query"></a>
                        <a href="#" class="toolbar-button footer-search-up-button" title="Go to previous occurence"></a>
                        <a href="#" class="toolbar-button footer-search-down-button" title="Go to next occurence"></a>
                    
                        <div>
                            <input type="checkbox" name="search-comp-strand">
                            <label for="search-comp-strand">Complementary strand</label>
                        </div>
                        <div>
                            <input type="checkbox" name="search-aa">
                            <label for="search-aa">Amino acid sequence</label>
                        </div>
                        <div>
                            <input type="checkbox" name="search-in-features">
                            <label for="search-in-features">Search only in features</label>
                        </div>
                    </div>

                    <div class="footer-selection-info">
                        <div>
                            <p>Selected: <span>0</span> bp <span></span></p>
                        </div>
                        <div>
                            <p>Tm = <span></span> °C</p>
                        </div>
                    </div>
                </div>
                <!-- End Footer -->
            </div>
            <!-- End main content-->
        
        </body>
    </html>