<h2 id="primers-div-headline">Primers:</h2>
<div id="mod-div">
   <h3 id="primers-type" primers-type="deletion" class="editable" edited="false">1. Deletion</h3>
   <div id="homologous-region-info">
      <p class="homologous-region-info" onmouseover="highlightHomologousRegion(this, [0, 1])" onmouseout="highlightHomologousRegion(this, [0, 1])">Homologous region: <span id="operation-info-homo-length">21</span> bp, <span id="operation-info-homo-tm">50.45</span> C</p>
   </div>
   <div id="primer-div" direction="fwd">
      <h4 class="editable" edited="false" id="primer-id">Forward Primer:</h4>
        <p class="primer-sequence" id="primer-sequence">
            <div class="adjust-primer-btns-container" direction="fwd" sequence-end="5'" next-base-position="14">
                <button class="adjust-primer-btn" onclick="adjustPrimerLength(this, 1)">
                    +
                </button>
                <button class="adjust-primer-btn" onclick="adjustPrimerLength(this, -1)">
                    -
                </button>
            </div>
            <span id="homologous-region" class="homologous-region-orange">
                <span class="primer-span primer-span-orange" primer-span-type="homo" onmouseover="primerRegionHover('CCTCCTTTCAG', 'fwd', 'rgb(217, 130, 58)')" onmouseout="removePrimerRegionHighlight()">
                    CCTCCTTTCAG
                </span>
                <span class="primer-span primer-span-green" primer-span-type="tbr" onmouseover="primerRegionHover('TTATTGCTCAGCGGTGGCAGCAGC', 'fwd', 'rgb(68, 143, 71)')" onmouseout="removePrimerRegionHighlight()">
                    TTATTGCTCA
                </span>
            </span>
            <span>
                <span class="primer-span primer-span-green" primer-span-type="tbr" onmouseover="primerRegionHover('TTATTGCTCAGCGGTGGCAGCAGC', 'fwd', 'rgb(68, 143, 71)')" onmouseout="removePrimerRegionHighlight()">
                    GCGGTGGCAGCAGC
                </span>
            </span>
            <div class="adjust-primer-btns-container" direction="fwd" sequence-end="3'" next-base-position="50">
                <button class="adjust-primer-btn" onclick="adjustPrimerLength(this, -1)">
                    -
                </button>
                <button class="adjust-primer-btn" onclick="adjustPrimerLength(this, 1)">
                    +
                </button>
            </div>
            <a href="#" onclick="copyPrimerSequenceToClipboard(this)" class="copy-primer-btn" style="background-image: url('/static/assets/icons/copy_icon.svg');">
            </a>
        </p>
        <div class="primer-info">
            <p>TBR: <span id="primer-info-tbr-length">24</span> bp, <span id="primer-info-tbr-tm">60.80</span> C</p>
            <p>Total: <span id="primer-info-total-length">35</span> bp</p>
        </div>
   </div>
   <div id="primer-div" direction="rev">
      <h4 class="editable" edited="false" id="primer-id">Reverse Primer:</h4>
      <p class="primer-sequence" id="primer-sequence">
      <div class="adjust-primer-btns-container" direction="rev" sequence-end="5'" next-base-position="14"><button class="adjust-primer-btn" onclick="adjustPrimerLength(this, 1)">+</button><button class="adjust-primer-btn" onclick="adjustPrimerLength(this, -1)">-</button></div>
      <span id="homologous-region" class="homologous-region-orange"><span class="primer-span primer-span-orange" primer-span-type="homo" onmouseover="primerRegionHover('TGAGCAATAA', 'rev', 'rgb(217, 130, 58)')" onmouseout="removePrimerRegionHighlight()">TGAGCAATAA</span><span class="primer-span primer-span-green" primer-span-type="tbr" onmouseover="primerRegionHover('CTGAAAGGAGGAACTATATCCGGATTGG', 'rev', 'rgb(68, 143, 71)')" onmouseout="removePrimerRegionHighlight()">CTGAAAGGAGG</span></span><span><span class="primer-span primer-span-green" primer-span-type="tbr" onmouseover="primerRegionHover('CTGAAAGGAGGAACTATATCCGGATTGG', 'rev', 'rgb(68, 143, 71)')" onmouseout="removePrimerRegionHighlight()">AACTATATCCGGATTGG</span></span>
      <div class="adjust-primer-btns-container" direction="rev" sequence-end="3'" next-base-position="50"><button class="adjust-primer-btn" onclick="adjustPrimerLength(this, -1)">-</button><button class="adjust-primer-btn" onclick="adjustPrimerLength(this, 1)">+</button></div>
      <a href="#" onclick="copyPrimerSequenceToClipboard(this)" class="copy-primer-btn" style="background-image: url('/static/assets/icons/copy_icon.svg');"></a></p>
      <div class="primer-info">
         <p>TBR: <span id="primer-info-tbr-length">28</span> bp, <span id="primer-info-tbr-tm">59.92</span> C</p>
         <p>Total: <span id="primer-info-total-length">38</span> bp</p>
      </div>
   </div>
</div>
